header {
    background-color: blanchedalmond;
}
footer {
    background-color: blanchedalmond;
}
.headerH3 {
    margin: 0;
    padding: 10px;
    color: cornflowerblue;
    text-decoration: underline;
}
.headerFooterH4 {
    margin: 0;
    padding: 10px;
    color: #235ec8;
}