body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
    background: orange;
}

header{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}
.headerText{
    margin: 0px;
}

footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}
.footerText{
    margin: 0px;
}

h3 {
    margin: 0px 10px;
}

form{
    display: flex;
    justify-content: center;
}

.onlyHeaderContainer {
    margin: 10px 0px;
}

.createContainer {
    display: flex;
}

.createContainer label {
    margin: 10px;
    display: block;
    font-size: 21px;
}

.createContainer input {
    margin: 10px;
    display: block;
}

.createContainer button {
    position: relative;
    left: 30%;
    width: 40%;
}