body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
    background: orange;
}

.home {
    display: flex;
    padding: 10px;
}
.home img {
    height: 4vh;
    /*Juicy Fish*/
}
.home a {
    padding: 3px;
    margin: 0px 5px;
    font-size: 20px;
    border: solid 2px #235ec8;
}


form {
    display: flex;
    justify-content: center;
}

input {
    width: 200px;
    padding: 3px;
    margin: 5px 0px;
    display: block;
    font-size: 16px;
    color: #235ec8;
}

label{
    display: block;
    font-size: 20px;
    text-shadow: 1px 0px 5px white;
}

.submitButton {
    width: 100px;
    border-radius: 5px;
    position: relative;
    left: 50px;
}

#onlyHeaders {
    display: inline;
    width: 20px;
}

#onlyHeadersLabel {
    display: inline;
    font-size: 18px;
}

#message {
    height: 60px;
    width: 200px;
    padding: 3px;
    margin: 5px 0px;
    display: block;
    resize: none;
    font-size: 16px;
    color: #235ec8;
}

.answerContainer {
    background-color: blanchedalmond;
    margin: 10px 35vw;
    padding: 0px 10px;
    border: solid 2px #235ec8;
    border-radius: 10px;
    color: #235ec8;
}

.answerContainer div {
    text-indent: 20px;
    text-align: justify;
}

.centerH3 {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .answerContainer {
        margin: 10px 15vw;
    }
}


