body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
    /*height: 100vh;
    justify-content: center;
    align-items: center;*/
    background: orange;
}

.findContainer {
    position: relative;
    left: 30vw;
    width: 40vw;
}