body {
    margin: 0;
    background-color: beige;
}

.home {
    display: flex;
    padding: 10px;
}
.home img {
    height: 4vh;
    /*Juicy Fish*/
}
.home a {
    padding: 3px;
    margin: 0px 5px;
    font-size: 20px;
    border: solid 2px #235ec8;
}

.container{
    text-align: center;
}

button{
    display: block;
    border-radius: 5px;
    padding: 10px 0px;
    width: 30vw;
    margin: 15px 35vw;
    box-shadow: 0px -1px 5px #235ec8;
    background-color: blanchedalmond;
    transition: all 0.2s linear;
}

button:hover {
    background-color: aqua;
}

#headerText {
    color: #235ec8;
}

#questionText {
    color: #235ec8;
}

#mainButton {
    background-color: aqua;
}

.pickImage {
    height: 30vh;
    opacity: 0;
}

.active {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.3s;
}

.hide{
    display: none;
}

@media only screen and (max-width: 768px) {
    button{
        display: initial;
        width: 70vw;
        margin: 5px 0px;
    }
    button:hover {
        background-color: blanchedalmond;
    }
}